<div class="container-fluid">
  
<nav class="navbar navbar-expand-lg navbar-light bg-col mb-3">
  <a class="navbar-brand text-light" routerLink="/home">Home</a>

  <!-- Step 3: Toggle the value of the property when the toggler button is clicked. -->
  <button class="navbar-toggler text-light" style="font-size: 20px;" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
    &#9776;
  </button>

  <!-- Step 2: Add the ngbCollapse directive to the element below. -->
  <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <!-- Step 4: Close the menu when a link is clicked. -->
        <a class="nav-link text-light" style="font-size: 20px;"  routerLink="/pin" (click)="isMenuCollapsed = true" >Pin</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" style="font-size: 20px;" routerLink="/state" (click)="isMenuCollapsed = true">State</a>
      </li>
    </ul>
  </div>
</nav>
</div>
<router-outlet></router-outlet>
